<button
  type="button"
  class="toggle-emoji"
  (click)="toggleEmojiPicker()"
>
  <i-feather class="icon-symbol" name="smile"></i-feather>
</button><button
  type="button"
  class="toggle-emoji"
  (click)="toggleEmojiPicker()"
>
  <i-feather class="icon-symbol" name="Github"></i-feather>
</button><button
  type="button"
  class="toggle-emoji"
  (click)="toggleEmojiPicker()"
>
  <i-feather class="icon-symbol" name="camera"></i-feather>
</button>
<footer class="chat-footer">
  <form (ngSubmit)='send()'>
    <textarea
      (keyup.enter)="send()" rows="1" autosize [maxRows]="10"
      placeholder="Type a message. Hit Enter to send"
      name="message" [(ngModel)]="message">
    </textarea>
  </form>
</footer>
