<!--  <textarea mat-autosize
            id="text"
            class="chatInput" placeholder="Type your message here..."
            [(ngModel)]="message"
            (keyup.enter)="send()">
  </textarea>
  <button class="chatButton"
          (click)=send()>Send
  </button>-->
<footer class="chat-footer">
  <form (ngSubmit)='send()'>
    <button
      type="button"
      class="toggle-emoji"
      (click)="toggleEmojiPicker()"
    >
      <i-feather name="smile"></i-feather>
    </button>
    <input placeholder="Type a message. Hit Enter to send" type="text"
           name="message" [(ngModel)]="message">
  </form>
</footer>
