.chatInput{
    flex: 10;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #000;
    transition: 0.1s ease-out;
    padding-left: 80px;
    resize: vertical;
  min-height: 40px;
  overflow: hidden;
}

.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton{
    flex: 2;
    padding: 10px;
    padding: 8px 24px;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #2A2845;
    color: white;
    transition: 0.2s ease-out;
    min-width: 50px;
}

.chatButton:hover{
    background-color: #444;
}

.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chat-window > * {
  padding: 10px 20px;
}

.chat-footer {
  flex: auto;
  background-color: #eee;
  border-radius: 30px !important;
  border: 3px solid #000;
  color: #000;
  transition: 0.1s ease-out;
  padding-left: 80px;
  overflow: hidden;
}

.chat-footer textarea:focus{
  background-color: #E4F1FE;
  color: #222;
  transition: 0.2s ease-in;
}
.chat-footer form, .chat-footer textarea {
  width: 100%;
}

.chat-footer {
  padding: 0 !important;
}

.chat-footer form {
  width: 100%;
}

.chat-footer textarea {
  border-radius: 0;
  padding-top: 15px;
  border: none;
  font-size: 25px;
  padding-left: 30px;
  color: #333;
  border-left: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
}

.toggle-emoji button {
  border: none;
  width: 50px;
  height: 40px;
  padding: 0;
  margin-bottom: 0;
}

/*--> initial .chat-footer button <--*/
.chat-footer button {
  border: none;
  width: 50px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-footer button:hover{
   background-color: #e4f4ca;
 }

.toggle-emoji:hover{
  background-color: #e4f4ca;
}

.icon-symbol {
  margin-left: 15px;
  margin-right: 15px;
}



