<div class="navBar">
    <div id="logo"></div>
    <div id="heading"><a routerLink='/chat'>SocialChat</a></div>
  <div class="links">
    <span>
      <a *ngIf="!userAuthenticated" href="#">Login</a>
    </span>
    <span>
      <a *ngIf="!userAuthenticated" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="userAuthenticated">Hello, {{userMail}}</span>
    </span>
    <span>
      <a class="pointer" *ngIf="userAuthenticated"  (click)="logout()">Logout</a>
    </span>
  </div>
</div>
