
.container{
  overflow: auto;
  max-width: 100%;
  height: 100%;
  background:
    linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.9)),
    url('../../../assets/img/univie_login.png') center center no-repeat;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginCard{
  display: block;
  opacity: 10;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.5);
  width: 500px;
  height: 450px;
  margin: 30px auto 30px auto ;
  text-align: center;
  vertical-align: auto;
  padding: 80px 30px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.24);*/
  overflow: auto;
}

mat-card {
  background-color: rgba(255,255,255,0.9);
}

mat-form-field {
  width: 100%;
}

.formInput{
  margin: auto;
  margin-top: 16px;
  display: block;
  width:100%;
  height: 30px;
  border-radius:4px;
  background:#ecf0f1;
  border: #81cbcc 1px solid;
  padding: 8px;
  font-size:1em;
}

.btn{
  height: 40px;
  width: 60%;
  margin-top: 16px;
  border: none;
  color: white;
  text-align-all: center;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
  transition: ease-in 0.2s;
}

#btn-signUp{
    background-color:#2A2845;
}

#btn-signUp:hover{
    background-color:#4A4865;
    transition: ease-in 0.2s;
}

#btn-login{
    background-color:#4A4875;
}

#btn-login:hover{
    background-color:#5A5895;
    transition: ease-in 0.2s;
}

h2{
    height: 2em;
}

a {
    text-decoration: none;
}

.credentialMsg {
  color: red;
  font-size: xx-large;
  text-align: center;
  font-family: sans-serif;
  padding: 0 20px;
  font-size: 20px;
}
