.mainContent{
  display: flex;
  height: 92%;
}

.userListWrapper {
  background-color: #2A2845;
  color: #fff;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 1;
  order: 1;
  padding:20px 0px 40px 30px;
  border-right: 1px solid #222;
}

.gameWrapper {
  background-color: #fff;
  background:
    linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9)),
    url('../../assets/img/uni_logo.png') center center no-repeat;;
  background-size:cover;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 5;
  order: 2;
  overflow-y: hidden;
  padding:20px 0px 0px 24px;
}

#scroll-style::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #F5F5F5;
}

app-user-list {
  width: 100%;
}
