<h4>Zeitfortschritt: {{gameService.displayTimeElapsed()}}</h4>
<h4> Du bist bei Frage {{this.gameService.qnProgress}} von {{this.gameService.questions.length}} </h4>
<mat-progress-bar mode="determinate" [value]="[1/this.gameService.questions.length]*(gameService.qnProgress+1)*100"></mat-progress-bar>

<div class="wrapper">
  <div class="waitingDiv" *ngIf="this.gameService.waitingForPlayer">
    <h1>Waiting for the other guy!</h1>
    <img src="../../assets/img/waiting.gif">
    <mat-spinner ></mat-spinner>
  </div>
  <div class="image" *ngIf=false>
    <img src="../../assets/img/waiting.gif"/>
    <div class="spin spinner"></div>
  </div>

  <div class="game" *ngIf="!this.gameService.waitingForPlayer">
    <div  class="header">
      <div *ngIf="this.fiftyJokerIsPressed && gameService.ownSelection">
        <h1>Choose your own selection before applying the joker</h1>
      </div>
      <div class="score">
        <p>Score: {{gameService.score}} to {{gameService.opScore}}</p>
      </div>
      <div class="jokers">
        <button id="_5050" type="submit" class="btn" [ngClass]= "{'selected': gameService.fiftyFiftyJokerSelected}"
                (click)="!this.gameService.fiftyFiftyJokerSelected && fifty_fifty()" type="submit">
        </button>
        <button id="new" type="submit" class="btn"  [ngClass]= "{'selected': gameService.newQnSelected}"
                (click)="!this.gameService.newQnSelected && askOwnQuestion()" type="submit">
        </button>
      </div>
    </div>

    <div class="titles">
      <h1 class="gradient gradient-box" id="question" [contentEditable]="newQnJokerIsPressed">
        {{gameService.questions[gameService.qnProgress].question}}
      </h1>
      <h2 class="gradient border-gradient">Choose your {{gameService.selectionString}} selection!</h2>
    </div>
    <div class="answer-block">
      <div class="answer-column">
        <div class="option gradient" id="option0" (click)="!newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,0)">
          <strong>A</strong>
          <span class="answers" id="text0" [contentEditable]="newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[0].text}}
          </span>
        </div>
        <hr/>
        <div class="option gradient" id="option2" (click)="!newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,2)">
          <strong>C</strong>
          <span class="answers" id="text2" [contentEditable]="newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[2].text}}
          </span>
        </div>
      </div>
      <div class="answer-column">
        <div class="option gradient" id="option1" (click)="!newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,1)">
          <strong>B</strong>
          <span class="answers" id="text1" [contentEditable]="newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[1].text}}
          </span>
        </div>
        <hr/>
        <div class="option gradient" id="option3" (click)="!newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,3)">
          <strong>D</strong>
          <span class="answers" id="text3" [contentEditable]="newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[3].text}}
          </span>
        </div>
      </div>
    </div>
    <div class="footer">
      <button mat-raised-button color="accent" type="submit" class="btn" id="back"
              (click)="backToChat()" type="submit" >
        Back
      </button>
      <button mat-raised-button color="accent" type="submit" class="btn display_none" id="create"
              (click)="createNewQn()" type="submit" >
        Create
      </button>
    </div>
  </div>
</div>
<!--<div class="wrapper">
<div class="aq-table">
  <div>
    <div class="row-fluid">
      <div class="main-part">
        <div class="row-fluid">
          <div class="show">
            <span class="aq-title">{{gameService.questions[gameService.qnProgress].question}}</span>
            <span class="aq-subtitle">Choose your {{gameService.selectionString}} selection! </span>
          </div>
        </div>
        <div class="answer-fluid">
          <div class="span5 offset-1">
            <div id="1" class="v1-aq-answer">
              <div>
                <strong>A</strong>
                <span (click)="registerAnswer(gameService.questions[gameService.qnProgress]._id,0)">
                  {{gameService.questions[gameService.qnProgress].options[0].text}}
                </span>
              </div>
            </div>
            <div id="2" class="v1-aq-answer">
              <div>
                <strong>B</strong>
                <span (click)="registerAnswer(gameService.questions[gameService.qnProgress]._id,1)">
                  {{gameService.questions[gameService.qnProgress].options[1].text}}
                </span>
              </div>
            </div>
          </div>
          <div class="span5">
            <div id="3" class="v1-aq-answer">
              <div>
                <strong>C</strong>
                <span (click)="registerAnswer(gameService.questions[gameService.qnProgress]._id,2)">
                  {{gameService.questions[gameService.qnProgress].options[2].text}}
                </span>
              </div>
            </div>
            <div id="4" class="v1-aq-answer">
              <div>
                <strong>D</strong>
                <span (click)="registerAnswer(gameService.questions[gameService.qnProgress]._id,3)">
                  {{gameService.questions[gameService.qnProgress].options[3].text}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="aq-footer">
        <div class="aq-flagge span2 offset1">
           Seite 1/15
        </div>
        <div id="help-btn" class="span7">
          Joker:
          <button class="btn input-small"(click)="fitty()" type="submit" class="btn" id="btn_50/50">
            50/50
          </button>
          <button class="btn input-small" (click)="backToChat()" type="submit" class="btn" id="btn-back">
            Back
          </button>
          <button class="btn input-small" (click)="askOwnQuestion()" type="submit" class="btn" id="own_question">
            Replace with own
          </button>
        </div>
      </div>
  </div>
</div>
</div>-->


<!--<div *ngIf=" this.gameService.questions">
  <div class="wrapper" >
    <span>Zeitfortschritt: {{gameService.displayTimeElapsed()}}</span>
    <mat-progress-bar mode="determinate" [value]="gameService.qnProgress+1*this.gameService.questions.length"></mat-progress-bar>
    <mat-spinner *ngIf="this.gameService.waitingForPlayer"></mat-spinner>
    <mat-card *ngIf="!this.gameService.waitingForPlayer">
      <mat-card-title id="score">Current Score:  {{gameService.score}}</mat-card-title>
      <div class="question-header">
        <mat-card-title-group>
          <mat-card-title>{{gameService.qnProgress+1}}</mat-card-title>
          <mat-card-title>{{gameService.questions[gameService.qnProgress].question}}</mat-card-title>
          <mat-card-subtitle>Choose your {{gameService.selectionString}} selection! </mat-card-subtitle>
        </mat-card-title-group>
      </div>
      <div class="answer-wrapper">
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option *ngFor="let option of  gameService.questions[gameService.qnProgress].options;let i = index"
                           (click)="registerAnswer(gameService.questions[gameService.qnProgress]._id,i)">
            {{option.text}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      </div>
      <mat-card-actions align="start">
        <button mat-raised-button color="accent"(click)="backToChat()" type="submit" class="btn" id="btn-back">
          Back
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>-->


