<h4>Zeitfortschritt: {{gameService.displayTimeElapsed()}}</h4>
<h4 *ngIf="(this.questionsLoaded | async)">
  Du bist bei Frage {{this.gameService.qnProgress+1}} von {{this.gameService.questions.length}}
</h4>
<mat-progress-bar *ngIf="!this.gameService.waitingForPlayer && (this.questionsLoaded | async) "
 mode="determinate" [value]="[1/this.gameService.questions.length]*(gameService.qnProgress+1)*100" >
</mat-progress-bar>
<mat-progress-bar *ngIf="this.gameService.waitingForPlayer" mode="indeterminate"></mat-progress-bar>

<div class="wrapper" *ngIf="this.questionsLoaded | async">
  <div class="waitingDiv" *ngIf="this.gameService.waitingForPlayer">
    <h1 *ngIf="!this.gameService.jokerUsed">Waiting for the other guy!</h1>
    <h2 *ngIf="this.gameService.jokerUsed" class="joker_warning">
      Please wait until your opponent creates his custom Question!
    </h2>
    <img src="../../assets/img/waiting.gif">
  </div>
  <div class="game" *ngIf="!this.gameService.waitingForPlayer">
    <div  class="header">
      <div class="score">
        <p>Score: {{gameService.score}} to {{gameService.opScore}}</p>
      </div>
      <div class="jokers">
        <button id="_5050" type="submit" class="btn" [ngClass]= "{'selected': gameService.fiftyFiftyJokerSelected}"
                (click)="!this.gameService.fiftyFiftyJokerSelected && fifty_fifty()" type="submit">
        </button>
        <button id="new" type="submit" class="btn"  [ngClass]= "{'selected': gameService.newQnSelected}"
                (click)="!this.gameService.newQnSelected && askOwnQuestion()" type="submit">
        </button>
      </div>
    </div>

    <div class="titles">
      <h1 class="gradient gradient-box" id="question" [contentEditable]="gameService.newQnJokerIsPressed">
        {{gameService.questions[gameService.qnProgress].question}}
      </h1>
      <h2 class="gradient border-gradient">Choose your {{gameService.selectionString}} selection!</h2>
    </div>
    <div class="answer-block">
      <div class="answer-column">
        <div class="option gradient" id="option0" (click)="!gameService.newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,0)">
          <strong>A</strong>
          <span class="answers" id="text0" [contentEditable]="gameService.newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[0].text}}
          </span>
        </div>
        <hr/>
        <div class="option gradient" id="option2" (click)="!gameService.newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,2)">
          <strong>C</strong>
          <span class="answers" id="text2" [contentEditable]="gameService.newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[2].text}}
          </span>
        </div>
      </div>
      <div class="answer-column">
        <div class="option gradient" id="option1" (click)="!gameService.newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,1)">
          <strong>B</strong>
          <span class="answers" id="text1" [contentEditable]="gameService.newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[1].text}}
          </span>
        </div>
        <hr/>
        <div class="option gradient" id="option3" (click)="!gameService.newQnJokerIsPressed && registerAnswer(gameService.questions[gameService.qnProgress]._id,3)">
          <strong>D</strong>
          <span class="answers" id="text3" [contentEditable]="gameService.newQnJokerIsPressed">
            {{gameService.questions[gameService.qnProgress].options[3].text}}
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="this.gameService.fiftyJokerIsPressed && gameService.ownSelection">
      <h1 class="joker_warning">Choose your own selection before applying the joker</h1>
    </div>
    <div class="footer">
      <button mat-raised-button color="accent" type="submit" class="btn" id="back"
              (click)="backToChat()" type="submit" >
        Back
      </button>
      <button mat-raised-button color="accent" type="submit" class="btn display_none" id="create"
              [ngClass]= "{'display_none': !this.gameService.newQnJokerIsPressed}"
              (click)="createNewQn()" type="submit" >
        Create
      </button>
    </div>
  </div>
</div>
