* {
  margin: 0px;
  padding: 0px;
}

h4 {
  font-family: "Neuropol X Rg";
}
.wrapper{
  width: 90%;
  height: 90%;
  overflow: auto;
  margin: 30px auto;
/*  border:1px solid #ffffff;
  border-radius: 20px;*/
}

mat-spinner {
  position: absolute;
  margin: 0 auto;
}

.waitingDiv {
  width: 100%;
  margin: auto;
}

.waitingDiv img {
  width: 80%;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
}

.waitingDiv h1 {
  text-align: center;
  font-family: "Neuropol X Rg";
}

.waitingDiv h2 {
  text-align: center;
  text-align: center;
  font-family: "Neuropol X Rg";
}

.image {
  position: absolute;
  width: 100%;
}

.image img {
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 26%;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.score p {
  text-align: center;
  font-family: "Neuropol X Rg";
  font-size: 50px;
}

#_5050 {
  margin-right: 30px;
  background:
    linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.4)),
    url('../../assets/img/5050.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#_5050:hover, #_5050:active {
  background:linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.1)),
  url('../../assets/img/_5050_hover.png') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.selected {
  background:linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.1)),
  url('../../assets/img/selected.png') center center no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.crossed {
 background-color: red !important;
}

#new {
  background:
    linear-gradient(45deg, rgba(255,125,60,0.2), rgba(0, 0, 0, 0.4)),
    url('../../assets/img/newjoker.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#new:hover, #new:active {
  background:linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.1)),
  url('../../assets/img/new_hover.png') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.titles {
  text-align: center;
  padding-top: 10px;
  font-family: "Gill Sans";
  font: 26px Georgia, Serif;
  margin-top: 60px;


}

h1 span {
  font: 30px Monaco, MonoSpace;
  height: 170px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}



.titles h1 {
  font-size: 40px;
  margin: 0 auto;
  border-radius: 50px;
  border:4px solid #121212;
  border-bottom-color: #4977aa;
  border-right-color: #7fb0e4;
  border-top-color: #6588dd;
  border-left-color: #accbdd;
}


.titles h2 {
  font-size: 25px;
  width: 60%;
  margin: 0 auto;
  border-radius: 60px;
  border:4px solid #121212;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  border-top-color:#ddd;
  border-left-color:#ddd;

}

.answer-block {
  display: flex;
  flex-direction: column;
}

.answer-column {
  display: flex;
  align-items: center;
  margin: 10px auto;
  margin-top: 60px;
  width: 100%;
}

.option {
  border:4px solid #121212;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  width: 46%;
}

.option strong {
  text-align: left;
  color: #ff972f;
  font-family: Halo3;
}

.option:hover{
  background-color: #ff972f;
}

.gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+11,1+19,1+81,0.8+87,0+100 */
  background: -moz-linear-gradient(45deg,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 11%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 87%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 11%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 87%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 11%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 87%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


hr {
  width: 8%;
  height: 5px;
  border: 0 ;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2%
}


.btn{
  height: 100px;
  width: 100px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50% !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
  transition: ease-in 0.2s;
}

.btn:hover {
  background:linear-gradient(45deg, rgba(255,103,0,0.3), rgba(0, 0, 80, 0.1)),
  url('../../assets/img/noo_icon.png') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#back {
  margin-right: 1%;
}


#create {
  margin-left: 1%;
}

.display_none {
  display: none;
}

.border-gradient {
  border-radius: 40px;
  border: 10px solid;
  border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
  border-image-slice: 1;
}


.connection_line {
  display: flex;
  flex-direction: column;
  width: 8%;
  margin-top: 8.5%;
}


.joker_warning {
  font-family: "Neuropol X Rg";
  color: red;
}
::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

.answer-wrapper {
  display: inline;
}

.joker-snackbar{
  background-color: rgb(153, 50, 50);
  color:lightgoldenrodyellow;
}


#score {text-align: right;
  position: absolute;
  right: 4em;
}


/*


mat-card-title-group {
  display: inline-block;
}

mat-card-title {
  text-align: center;
}

mat-selection-list {
  display: inline;
}
mat-spinner {
  left: 28.5%;
  top: 38%;
}

mat-card-subtitle {
  text-align: center;
}
mat-card{
  display: block;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.85);
  width: auto;
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  text-align: left;
  vertical-align: auto;
  padding: 80px 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.17), 0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
}

mat-card-title-group{
  margin-top: 3em;
  text-align: left;
  margin-bottom: 2em;
}

mat-card-content{
  max-width: border-box;
  overflow: hidden;
  margin-bottom: 1em;
  flex-direction: row;
}

ul {
  display: block;
  list-style-type: circle;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

mat-card-content{
  max-width: border-box;
  overflow: hidden;
}
*/
