@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@ctrl/ngx-emoji-mart/picker.css';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  width: 100%;
  min-height:100%;
  background: #eee;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

app-chatroom, app-gameroom, app-result, app-login-form, app-signup-form {
    height: 100%; /*replaced height with the one set in * */
    display: flex;
    flex-direction: column;
}

router-outlet {
  height: 100%;
}

app-chat-form{
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: auto;
}

.message {
  display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif}

